#header-div {
    text-align: left;
    display: flex;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;

    height: 8vh;
}

#menu-wrapper {
    flex: 1;
    display: flex
}

#header-contents {
    display: flex;
    align-items:center;
    height: 8vh;

}

#icon-wrapper {
    margin-right: 2vw;
    transform: scale(1.2);
}

#header-profile-avatar {
    border: 1px solid gray;
    object-fit: cover;
}

#home-button {
    margin-left: -3vw; /* 2vw total (5vw-3vw) */
}

#home-button * {
    fill: white;
    font-size: 50px;
}