#help-page {
    margin-top: 15vh;
}

.description-header span {
    font-weight: bold;
    font-size: 20px;
    color: green;
}

.description-header * {
    margin-top: 10px;
}

p {
    font-size: medium;
}

.faqblock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleHolder h1 {
    font-size: 35px !important
}