.home-page {
    /* background-image: url('/images/background.jpeg');
    background-color: #cccccc; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    object-fit: contain;
    opacity: 0.6;

    background: linear-gradient(-45deg, white, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 3.5s ease infinite;

    align-items: center;

}

.home-titles {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

.home-titles * {
    margin: 10px;
}

.column-title {
    font-size: 27px;
}

.site-title {
    font-size: 7vw;
    /* color: green; */
    /* margin-top: 10vw; */
}

.features-row * {
    margin: 30px;
    font-weight: bold;
    color: green;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.my-portfolio-button {
    /* color: green !important; */
    font-size: 20px !important;
    font-weight: bold !important;
    /* text-decoration: underline !important; */
    margin: 0 10px !important
}