#leaderboard-page {
    display: flex;
    justify-content: center;

}

.leaderboard-next-button {
    
}

.refresh-scores {
    position: fixed !important;
    top: 3vh;
    right: 10vw;
    z-index: 10000000;
}
