#leaderboard-page {
    display: flex;
    justify-content: center;
    /* margin-top: 5vh; */
    margin-top: 0;
    padding-top: 0;
    top: 0;
}

.leaderboard-next-button {
    
}

.refresh-scores {
    position: fixed !important;
    top: 1.8vh;
    right: 10vw;
    z-index: 10000000;
}

.refresh-scores * {
    color: white;
    width: 2em !important;
    height: 2em !important;
}

#filter-by-group-btn, #clear-filter-btn{

    margin-left: 10px;
}

#filter-by-group-btn, #clear-filter-btn{
    height: 55px;
}

/* #group-name-filter {
    margin-top: 8vh
} */

#leaderboard-wrapper{
    position: relative;
    top: 5vh;
}

#filter-wrapper{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 8vh
}

#dropdown {
    margin-top: 10vh !important;
}