.portfolio-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* .portfolio-page Button {
    height: ;
} */

.refresh-portfolio {
    color: blue !important;
}

.portfolio-text-and-refresh {
    display: flex;
    justify-content: center;

}

.space-filler-iconbutton {
    visibility: hidden;
}

.inner-portfolio-return {
    display: flex;
}

.inner-portfolio-return * {
    margin: auto
}

.stock-data-table * {
    text-align: center;
}

.portfolio-page th * {
    margin: auto;
    font-weight: 800;
}

.portfolio-actions * {
    margin: 1vw !important
}

.portfolio-return {
    margin-bottom: 20px;
}