.portfolio-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8vh;
    align-items: center;
}

.refresh-portfolio {
    color: blue !important;
}

.portfolio-text-and-refresh {
    display: flex;
    justify-content: center;

}

.space-filler-iconbutton {
    visibility: hidden;
}

.inner-portfolio-return {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.inner-portfolio-return * {
    margin: auto;
}

.stock-data-table {
    width: 80%;
}

.stock-data-table * {
    text-align: center;
}

.portfolio-page th * {
    margin: auto;
    font-weight: 800;
}

.portfolio-actions * {
    margin: 1vw !important
}

.portfolio-return {
    margin-bottom: 20px;
    /* margin-top: 20px; */
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: azure;

}

.buy-stock,
.sell-stock {
    display: flex;
    align-items: center;
}

/* .preview-buy-table-head-row {
    
} */

.preview-buy-table tr * {
    font-weight: 700;
    color: white !important
}

.preview-buy-table tbody * {
    font-weight: 700;
    color: white !important
}

.preview-value input {
    font-weight: 850;
    /* font-size: 18px */
}

.preview-value {
    height: 1.4375em
}

.stock-display {
    width: 100%;
    display: flex;
    justify-content: center;
}


.portfolio-display-mode {
    display: flex;
    justify-content: center;
    /* border: 1px solid gray; */
    width: 20vw;
    margin-top: 20px;
}

.portfolio-display-mode Button {
    margin: 2%;
    width: 8.5vw;
    font-size: 1vw;
}

.stock-display {
    width: 80vw;
}

.buy-sell-btn {
    border: 1px solid red;
    /* height: 72px;
    top: 26px;
    width: 100px; */
    height: 56px;
    margin: 0
    

}

.select-portfolio-box {
    position: absolute;
    top: 160px;
    right: auto;
}
