.profile-page {
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
}

#profile-info-div {
    font-size: 25px;
    background-color: rgb(220,240,220);
}

#profile-info-div > * {
    margin: 1%;
}

#lifetime-info-div {
    background-color: rgb(220,240,220);
}

#selector-div {
    background-color: rgb(220,240,220);
}

.groups-text-and-refresh {
    display: flex;
    flex-direction: row;
}

.ownships-text-and-refresh {
    display: flex;
    flex-direction: row;
}

/* .emphasis {
    font-size: 25px;
} */

.new-member-input, .new-group-input {
    padding: 1%;
}
/* 
.new-member-input {
    margin-bottom: 20px;
} */

/* .new-pref-port-select {
    display: flex;
} */

.ownships-text-and-refresh, .groups-text-and-refresh{
    display: flex;
    justify-content: center;
}
