.profile-page {
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
}

#profile-info-div {
    font-size: 25px;
}

.groups-text-and-refresh {
    display: flex;
    flex-direction: row;
}

.ownships-text-and-refresh {
    display: flex;
    flex-direction: row;
}
